.zoneList {
   flex: 4;
}

.zoneListZone {
   display: flex;
   align-items: center;
}

.zoneListImg {
   height: 44px;
   width: 44px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 10px;
}

.actionsWrapper {
   display: flex;
   align-items: center;   
}

.zoneInfoButton {
   height: 36px;
   width: 36px;
   /* border-radius: 50%;
   object-fit: cover;    */
   border: 0;
   background-color: inherit;
   margin: 15px 10px 0px 10px;
   color: #d1dbec;  
   cursor: pointer; 
};

.water {
   color: red !important;   
}
