.currentConditions {
   flex: 1;
   display: flex;
   margin: 0px 20px 20px 20px;
   padding: 30px;
   border-radius: 5px;
   cursor: pointer; 
   -webkit-box-shadow: 0px 0px 15px -10px rgb(0, 0, 0, .75); 
   box-shadow: 0px 0px 15px -10px rgb(0, 0, 0, .75);
}

.leftContainer {
   flex: 1;
}
.degreeInfo {
   display: flex;
   align-items: center;
   padding: 20px; 
}
.currentTempIcon {
   height: 45px;
   width: 45px;
   font-size:36px;
   transform: scale(2.5);
   padding: 3px 0 0 12px;
}
.currentDegrees {
   font-size: 50px;
   padding: 12px 0px 12px 58px;
}
.currentStatus {
   font-weight: 300;
   font-size: 34px;
   padding-left: 46px;
}
.rightContainer {
   flex: 1;
}

.weatherShowInfo {
   display: flex;
   align-items: center;
   padding: 10px 0px;;
}
.weatherShowInfoTitle {
   padding: 0px 5px;
   font-weight: 300;
}
