* {
  margin: 0px;  
}

.storyBigImage {
  width: 90%;
  /* height: 35vw;
  width: fit-content; */
  object-fit: cover;
  border-radius: 10px;
}
.imageBigContainer {
  width: 90% ;
  border-radius: 10px;
  padding: 25px 0 10px 35px;
}

.storyContainer{   
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}
