* {
   font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
   color: #555;
}

.zone {
   flex: 5;
   padding: 20px;
}


.zoneTitleContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #555;
}

.zoneActionButton {
   width: 80px;
   border: none;
   padding: 5px;
   background-color: #eef;
   border-radius: 5px;
   cursor: pointer;
   color: #888;
   font-size: 16px;
}

.zoneContainer {
   display: flex;   
   margin-top: 20px;
}

.zoneShow {
   flex: 2;
   padding: 25px;
   -webkit-box-shadow: 0px 0px 15px -10px rgb(0, 0, 0, .75); 
   box-shadow: 0px 0px 15px -10px rgb(0, 0, 0, .75);
}
.zoneShowTop {
   display: flex;
   align-items: center;
}
.zoneShowTopTitle{
   display: flex;
   flex-direction: column;
}

.zoneShowBottom {
   margin-top: 20px; 
}

.zoneShowFooter {
   margin-top: 5px; 
}
.zoneShowBottomContainer {
   display: flex;
   align-items: center;
}
.zoneShowBottomCol {
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 12px;
}

.zoneShowTitle {
   font-size: 16px;
   font-weight: 600;
   color:#555;
}
.zoneShowFooterTitle {
   font-size: 14px;
   font-weight: 600;
   color:#555;
}

.zoneShowName {
   font-weight: 600;
}
.zoneShowDesc {
   font-weight: 300;
}

.hide {
   display: none !important;
}

.zoneShowInfo {
   display: flex;
   align-items: center;
   margin: 10px 0px;
   color: #444;
}
.zoneShowIcon {
   font-size: 15px !important;
   font-weight: bold;
}
.zoneShowInfoTitle {
   font-size: 14px;
   font-weight: 300;
   margin-left: 5px;
}
.enabled {
   color: green;
}

.disabled {
   color: red;
}

.zoneShowImage {
   height: 240px;
   width: 240px;
   min-width: 80px;
   border-radius: 5px;
   object-fit: cover;
   margin-right: 10px;
}

.zoneUpdate {
   flex: 2;
   padding: 20px;
   -webkit-box-shadow: 0px 0px 15px -10px rgb(0, 0, 0, .75); 
   box-shadow: 0px 0px 15px -10px rgb(0, 0, 0, .75);
   margin-left: 20px;
}

.zoneAnalytics {
   /* width: 100%; */
   flex: 5;
   display: flex;
   flex-direction: column;   
}

.chart {
   padding: 10px;
}

.capitalize {
   text-transform: lowercase;
}
.capitalize::first-letter {
   text-transform: capitalize;   
}
